header {
  color: var(--gray-1);
  padding: 1em 3em;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  #ham-icon {
    display: none;
  }

  ul {
    font-size: 22px;
    display: flex;
    list-style: none;
    gap: 2em;
    font-weight: 500;
    li {
      user-select: none;
      a {
        text-decoration: none;
        color: var(--gray-1);
      }
    }
    li:hover {
      cursor: pointer;
      margin-bottom: -2px;
      border-bottom: 2px solid #000;
    }
    li:active {
      transform: scale(0.9);
    }
  }
}

@media (max-width: 800px) {
  header {
    padding: 4%;
    ul {
      display: none;
      position: absolute;
      flex-direction: column;
      right: 0;
      text-align: right;
      background: rgb(255, 255, 255);
      border-radius: 0 0 0 1em;
      padding: 1em;
      li {
        padding: 0.25em;
      }
      li:hover {
        margin: -2px;
        border: 2px solid #000;
        border-radius: 0.25em;
        transform: scale(1.05);
      }
      li:active {
        transform: scale(0.95);
      }
    }
    #ham-icon {
      display: inline;
      font-size: 24px;
      user-select: none;
      cursor: pointer;
    }
  }
}
