@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  background: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 4em 8em;
  font-family: "Montserrat", sans-serif;
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
}

#profile .left, img, p {
  -webkit-animation: grow 1s ease-in-out;
          animation: grow 1s ease-in-out;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 2em;
}

#profile {
  background: #00000070;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  color: white;
  padding: 2em;
  border-radius: 1em;
  gap: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 94%;
}

#profile .left {
  min-width: 300px;
  height: 250px;
  border-radius: 1em;
  border: 1px solid white;
  background: url("../images/profile.jpg");
  background-size: cover;
}

#profile .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#profile .right .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#profile .right .details .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#profile .right .details .name * {
  margin: 0 0 0.25em;
  font-weight: 600;
}

#profile .right .details .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#profile .right .details .contact > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profile .right .details .contact > span a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

#profile .right .details .contact .email,
#profile .right .details .contact .phone {
  gap: 0.5em;
  font-weight: 500;
}

#profile .right .bio {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 1em;
  width: 90%;
}

#profile .right .social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#profile .right .social_links a img {
  width: 3em;
  height: 3em;
  margin: 0 0.5em;
  border-radius: 0.25em;
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2em;
}

.group1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  width: 40%;
}

.group1 #skills {
  background: #00000070;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  color: white;
  padding: 2em;
  border-radius: 1em;
  gap: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.group1 #skills h2 {
  margin: 0;
}

.group1 #skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.group1 #skills .skill .wrapper {
  width: 12em;
  height: 8px;
  background: white;
  border-radius: 4px;
  border: 1px solid white;
}

.group1 #skills .skill .wrapper .value {
  display: block;
  height: 100%;
  background: #74451f;
  border-radius: 4px;
  width: var(--percent);
  -webkit-animation: progress 5s ease-in-out;
          animation: progress 5s ease-in-out;
}

.group1 #hobbies {
  background: #00000070;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  color: white;
  padding: 2em;
  border-radius: 1em;
  gap: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.group1 #hobbies h2 {
  margin: 0;
  font-weight: 500;
}

.group1 #hobbies .hobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 1em;
}

.group1 #hobbies .hobby img {
  border-radius: 1em;
  border: 1px solid white;
}

.group1 #hobbies .hobby .title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 1em;
}

.group2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  width: 60%;
}

.group2 #blog {
  background: #00000070;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  color: white;
  padding: 2em;
  border-radius: 1em;
  gap: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.group2 #blog .blog-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 2em;
}

.group2 #blog .blog-up .name * {
  margin: 0 0 1em;
  font-weight: 500;
}

.group2 #blog .blog-up img {
  border-radius: 1em;
  border: 1px solid white;
}

.group2 #blog .blog-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.group2 #blog .blog-down a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.group2 #experience {
  background: #00000070;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  color: white;
  padding: 2em;
  border-radius: 1em;
  gap: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25em;
}

.group2 #experience h2,
.group2 #experience h3,
.group2 #experience h5 {
  margin: 0;
  font-weight: 500;
}

.group2 #experience .experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.group2 #experience .experience img {
  border-radius: 1em;
  border: 1px solid white;
}

#projects {
  background: #00000070;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  color: white;
  padding: 2em;
  border-radius: 1em;
  gap: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

#projects h3 {
  margin: 0;
  font-weight: 500;
}

#projects .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1em;
}

#projects .tags .tag {
  padding: 0.5em 1em;
  border-radius: 0.75em;
  border: 1px solid white;
}

#projects .tags .active {
  color: white;
  background: #74451f;
}

#project-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  gap: 2em;
}

#project-cards .project-card {
  background: #00000070;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  color: white;
  padding: 2em;
  border-radius: 1em;
  gap: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

#project-cards .project-card img {
  border-radius: 1em;
  border: 1px solid white;
  width: 100%;
}

#project-cards .project-card .project-card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#project-cards .project-card .project-card-info .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0.5em 0;
  gap: 1em;
}

#project-cards .project-card .project-card-info .tags .tag {
  font-weight: 500;
}

#project-cards .project-card .project-card-info h3 {
  margin: 0;
  font-weight: 600;
}

#project-cards .project-card .project-card-info .button_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1em;
}

#project-cards .project-card .project-card-info .button_wrapper button {
  all: unset;
  color: white;
  background: #74451f;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 18px;
  cursor: pointer;
}

#project-cards .project-card .project-card-info .button_wrapper .code {
  background: transparent;
  border: 1px solid white;
  color: white;
}

#pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

#pagination a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: white;
  font-weight: 500;
  color: white;
  font-weight: 500;
  font-size: 18px;
  width: 2em;
  height: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.25em;
  border: 1px solid white;
  cursor: pointer;
}

#pagination a:nth-child(5) {
  border: none;
  font-weight: 700;
}

#pagination .active {
  background: #74451f;
  color: white;
}

@-webkit-keyframes progress {
  from {
    width: 0;
  }
  to {
    width: var(--percent);
  }
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: var(--percent);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.gap-half {
  gap: 0.5em;
}

hr {
  width: 100%;
  height: 1px;
  background: white;
  border-radius: 4px;
  margin: 0.25em 0 0.5em;
}

@media (max-width: 900px) {
  body {
    padding: 2em;
  }
  #profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 90%;
  }
  #profile .left {
    max-width: 18em;
    max-height: 18em;
  }
  #profile .right {
    gap: 2em;
  }
  #profile .right .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2em;
  }
  #profile .right .details .contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .group .group1, .group .group2 {
    width: 100%;
  }
  .group .group2 #blog .blog-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .group .group2 #experience .experience {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects .tags {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #project-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */